@*
    To create a new ProcedureID, copy-and-paste one of the following GUID's into the input element for the Procedure ID. Alternatively, create a drop-down list (using select) and populate the drop-down list with the following
    values:
    (Generated from site: https://www.uuidgenerator.net/guid)
    ae28913f-ccf3-46af-89d3-b809df96517b
    e649e24f-8cfe-4e59-881f-7eb35054603a
    5bfcd1e3-31cd-4b13-bad9-f6391f9a81fe
    aeebbaeb-dbda-4ae6-aaa5-8d175cc3d31c
    c6b62fdb-cc2c-4fbb-8c83-d133f711008a
*@

<div class="jumbotron">
    <h2 class="text-center">Create Procedure</h2>
</div>
