@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web application (currently) maintains data collected by the Massachussets General Hospital.</p> 

<p>It stores information about patients, procedures, payers and encounters</p>
