@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>DDWT Teaching Team</b> <br />
    SAIBT<br />
    Brookman Building, North Terrace (B5-05E)<br />
    Adelaide, SA 5000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andreas.jordan@unisa.edu.au">andreas.jordan@unisa.edu.au</a>
</address>