
/****** Object:  Table [dbo].[Address]    Script Date: 28/02/2025 3:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [varchar](50) NOT NULL,
	[AddressLine] [varchar](150) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NULL,
	[County] [varchar](50) NULL,
	[Zip] [varchar](6) NULL,
	[Latitude] [decimal](7, 4) NULL,
	[Longitude] [decimal](7, 4) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encounters]    Script Date: 28/02/2025 3:19:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encounters](
	[EncounterID] [varchar](50) NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[OrganisationID] [varchar](50) NOT NULL,
	[PayerID] [varchar](50) NOT NULL,
	[EncounterType] [varchar](50) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[BaseEncounterCost] [decimal](10, 2) NOT NULL,
	[TotalClaimCost] [decimal](10, 2) NOT NULL,
	[PayerCoverage] [decimal](10, 2) NOT NULL,
	[ReasonCode] [varchar](20) NULL,
	[ReasonDescription] [varchar](max) NULL,
 CONSTRAINT [PK_Encounters] PRIMARY KEY CLUSTERED 
(
	[EncounterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 28/02/2025 3:19:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[OrganizationID] [varchar](50) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[AddressID] [varchar](50) NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientProcedures]    Script Date: 28/02/2025 3:19:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProcedures](
	[PatientID] [varchar](50) NOT NULL,
	[ProcedureID] [int] NOT NULL,
 CONSTRAINT [PK_PatientProcedures] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC,
	[ProcedureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 28/02/2025 3:19:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[MaidenName] [varchar](50) NULL,
	[Birthdate] [date] NOT NULL,
	[DeathDate] [date] NULL,
	[Race] [varchar](10) NOT NULL,
	[Ethnicity] [varchar](15) NOT NULL,
	[Gender] [varchar](5) NOT NULL,
	[Birthplace] [varchar](100) NOT NULL,
	[AddressID] [varchar](50) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payers]    Script Date: 28/02/2025 3:19:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payers](
	[PayerID] [varchar](50) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[AddressID] [varchar](50) NULL,
	[StateHeadQuartered] [varchar](5) NULL,
	[Phone] [varchar](15) NULL,
 CONSTRAINT [PK_Payers] PRIMARY KEY CLUSTERED 
(
	[PayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procedures]    Script Date: 28/02/2025 3:19:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedures](
	[ProcedureID] [int] IDENTITY(1,1) NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[StopDateTime] [datetime] NOT NULL,
	[EncounterID] [varchar](50) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[BaseCost] [decimal](10, 2) NOT NULL,
	[ReasonCode] [varchar](10) NULL,
	[ReasonDescription] [varchar](250) NULL,
 CONSTRAINT [PK_Procedures] PRIMARY KEY CLUSTERED 
(
	[ProcedureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Encounters]  WITH CHECK ADD  CONSTRAINT [FK_Encounters_Organizations] FOREIGN KEY([OrganisationID])
REFERENCES [dbo].[Organizations] ([OrganizationID])
GO
ALTER TABLE [dbo].[Encounters] CHECK CONSTRAINT [FK_Encounters_Organizations]
GO
ALTER TABLE [dbo].[Encounters]  WITH CHECK ADD  CONSTRAINT [FK_Encounters_Payers] FOREIGN KEY([PayerID])
REFERENCES [dbo].[Payers] ([PayerID])
GO
ALTER TABLE [dbo].[Encounters] CHECK CONSTRAINT [FK_Encounters_Payers]
GO
ALTER TABLE [dbo].[Organizations]  WITH CHECK ADD  CONSTRAINT [FK_Organizations_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Organizations] CHECK CONSTRAINT [FK_Organizations_Address]
GO
ALTER TABLE [dbo].[PatientProcedures]  WITH CHECK ADD  CONSTRAINT [FK_PatientProcedures_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[PatientProcedures] CHECK CONSTRAINT [FK_PatientProcedures_Patients]
GO
ALTER TABLE [dbo].[PatientProcedures]  WITH CHECK ADD  CONSTRAINT [FK_PatientProcedures_Procedures] FOREIGN KEY([ProcedureID])
REFERENCES [dbo].[Procedures] ([ProcedureID])
GO
ALTER TABLE [dbo].[PatientProcedures] CHECK CONSTRAINT [FK_PatientProcedures_Procedures]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Address]
GO
ALTER TABLE [dbo].[Payers]  WITH CHECK ADD  CONSTRAINT [FK_Payers_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Payers] CHECK CONSTRAINT [FK_Payers_Address]
GO
ALTER TABLE [dbo].[Procedures]  WITH CHECK ADD  CONSTRAINT [FK_Procedures_Encounters] FOREIGN KEY([EncounterID])
REFERENCES [dbo].[Encounters] ([EncounterID])
GO
ALTER TABLE [dbo].[Procedures] CHECK CONSTRAINT [FK_Procedures_Encounters]
GO
